<mat-toolbar>
  Moje tablice
  <span class="fill-remaining-space"></span>
  <div class="toolbarFormFields mat-body">
    <mat-form-field *ngIf="(isHandset$ | async) === false" appearance="outline">
      <mat-label>Sortowanie</mat-label>
      <mat-select [(value)]="this.sortState" (selectionChange)="sortBoards()" [compareWith]="customSortCompare">
        <mat-option [value]="{active: '', direction: ''}">Domyślne</mat-option>
        <mat-optgroup label="Nazwa">
          <mat-option [value]="{active: 'boardName', direction: 'asc'}">
            Nazwa - rosnąco (A-Z)
          </mat-option>
          <mat-option [value]="{active: 'boardName', direction: 'desc'}">
            Nazwa - malejąco (Z-A)
          </mat-option>
        </mat-optgroup>
        <mat-optgroup label="Data dołączenia">
          <mat-option [value]="{active: 'joinDate', direction: 'asc'}">
            Data dołączenia - rosnąco
          </mat-option>
          <mat-option [value]="{active: 'joinDate', direction: 'desc'}">
            Data dołączenia - malejąco
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
  </div>

  <button [hidden]="(isHandset$ | async) === false" mat-icon-button [matMenuTriggerFor]="sortMenu">
    <mat-icon matBadge [appMatBadgeIcon]="sortBadge">sort</mat-icon>
  </button>
  <mat-menu #sortMenu="matMenu">
    <button mat-menu-item (click)="menuSortBoards({active: '', direction: ''})">Domyślne</button>
    <button mat-menu-item (click)="menuSortBoards({active: 'boardName', direction: 'asc'})">
      Nazwa - rosnąco (A-Z)
    </button>
    <button mat-menu-item (click)="menuSortBoards({active: 'boardName', direction: 'desc'})">
      Nazwa - malejąco (Z-A)
    </button>
    <button mat-menu-item (click)="menuSortBoards({active: 'joinDate', direction: 'asc'})">
      Data dołączenia - rosnąco
    </button>
    <button mat-menu-item (click)="menuSortBoards({active: 'joinDate', direction: 'desc'})">
      Data dołączenia - malejąco
    </button>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="settingsMenu">
    <mat-icon>settings</mat-icon>
  </button>
  <mat-menu #settingsMenu="matMenu">
    <button mat-menu-item (click)="openReorder()">
      <mat-icon>reorder</mat-icon>
      Zmień kolejność
    </button>
  </mat-menu>
</mat-toolbar>

<div class="cardsContainer">
  <div fxLayout="row wrap" fxLayoutGap="1em grid">
    <div fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" fxFlex.lg="25%" fxFlex.xl="20%"
         *ngFor="let board of joinedBoards">
      <app-board-card [board]="board"></app-board-card>
    </div>
    <div fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" fxFlex.lg="25%" fxFlex.xl="20%">
      <app-create-search-board-card></app-create-search-board-card>
    </div>
  </div>
</div>
