mat-card {
  min-height: 10em;
  outline: none;

  .userPictureFlex {
    display: flex;
    align-items: center;

    .cardHeaderText {
      padding-left: 0.5em;

      .userName {
        cursor: pointer;
        font-size: medium;
      }

      .userName:hover {
        text-decoration: underline;
      }

      .postDate {
        font-size: small;
        font-weight: normal;
      }

    }
  }

  .mat-card-title {
    font-size: inherit;
  }

  .mat-card-content {
    cursor: pointer;
    padding-top: 0.5em;
  }

  .mat-card-actions {
    button {
      margin-left: 8px;
    }
  }
}

.postTextLess {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}

.postTextMore {
}

.showMoreLessButton {
  text-align: right;
}

.showMoreLessButton:hover {
  cursor: pointer;
  text-decoration: underline;
}
