<div [formGroup]="parentForm">
  <div class="passwordStrengthInfo">
    <mat-password-strength #passwordComponent
                           hidden
                           [enableSpecialCharRule]="false"
                           min="8"
                           max="128"
                           [customValidator]="noSpacesPattern"
                           [password]="password.value">
    </mat-password-strength>
    <mat-password-strength-info
      [passwordComponent]="passwordComponent"
      lowerCaseCriteriaMsg="musi zawierać min. 1 małą literę"
      upperCaseCriteriaMsg="musi zawierać min. 1 wielką literę"
      digitsCriteriaMsg="musi zawierać min. 1 cyfrę"
      minCharsCriteriaMsg="musi mieć minimum 8 znaków"
      customCharsCriteriaMsg="nie może zawierać spacji">
    </mat-password-strength-info>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>{{passwordLabel}}</mat-label>
      <input #password matInput required maxlength="129" formControlName="password" [type]="hidePassword ? 'password' : 'text'">
      <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="parentForm.controls['password'].hasError('required')">
        Podaj hasło
      </mat-error>
      <mat-error *ngIf="parentForm.controls['password'].hasError('maxlength')">
        Hasło może mieć maksymalnie 128 znaków
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>{{repeatPasswordLabel}}</mat-label>
      <input matInput required maxlength="129" formControlName="repeatPassword" [type]="hideRepeatPassword ? 'password' : 'text'"
             [errorStateMatcher]="errorMatcher">
      <button type="button" mat-icon-button matSuffix (click)="hideRepeatPassword = !hideRepeatPassword">
        <mat-icon>{{hideRepeatPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="parentForm.hasError('passwordMismatch')">
        Podane hasła muszą być takie same
      </mat-error>
    </mat-form-field>
  </div>
</div>
