.passwordStrengthInfo{
  margin-bottom: 1em;
}

:host::ng-deep mat-password-strength-info {
  .mat-card:not([class*=mat-elevation-z]) {
    box-shadow: none;
    border-style: solid;
    border-width: thin;
    border-color: rgba(0,0,0,.12);
  }
}

