.loadMoreButton {
  display: flex;
  justify-content: center;
  padding-bottom: 0.5em;
}

.buttonFlex {
  display: flex;
  justify-content: space-between;
}

.reloadCommentsButton {
  margin-top: 10px;
  margin-left: 0.5em;
}


