<div [formGroup]="parentForm">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Adres e-mail</mat-label>
      <input matInput disabled [value]="currentUser.email">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Data rejestracji</mat-label>
      <input matInput disabled [value]="currentUser.signupDate | date">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Nazwa organizacji</mat-label>
      <input matInput required formControlName="institutionName" name="orgName" type="text" trim="blur">
      <mat-error *ngIf="parentForm.controls['institutionName'].hasError('required')">
        Podaj nazwę organizacji
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Miasto</mat-label>
      <input matInput formControlName="addressCity" name="city" type="text" trim="blur">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Kod pocztowy</mat-label>
      <input matInput formControlName="addressPostCode" name="postCode" type="text" trim="blur">
      <mat-error *ngIf="parentForm.controls['addressPostCode'].hasError('pattern')">
        Podaj prawidłowy kod pocztowy
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Ulica</mat-label>
      <input matInput formControlName="addressStreet" name="street" type="text" trim="blur">
    </mat-form-field>
  </div>
</div>
