.cardsContainer {
  padding: 2em;
}

mat-card {
  cursor: pointer;
  outline: none;
}

.cardHalf {
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cardHalf.up {
  padding-bottom: 1em;
}

.cardHalf.down {
  padding-top: 1em;
}

mat-divider {
}
