<div class="formCardContainer" ngClass.xs="small-mobilePadding">
  <app-loading-spinner [show]="loading"></app-loading-spinner>
  <mat-card fxFlex.xs="100%" fxFlex.sm="81.25%" fxFlex.md="62.5%" fxFlex.lg="43.75%" fxFlex.xl="25%">
    <mat-card-title>Podaj nowe hasło</mat-card-title>
    <mat-card-content>
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <app-password-input [parentForm]="changePasswordForm"
                            passwordLabel="Nowe hasło"
                            repeatPasswordLabel="Powtórz nowe hasło"
        ></app-password-input>
        <div class="formActionButtons">
          <button type="submit" mat-raised-button color="primary" [disabled]="changePasswordForm.invalid">
            Zresetuj hasło
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
