<div class="changePasswordCardContainer">
  <app-loading-spinner [show]="loading"></app-loading-spinner>
  <mat-card>
    <mat-card-title>Podaj nowe hasło</mat-card-title>
    <mat-card-content>
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div>
          <mat-form-field>
            <mat-label>Nowe hasło</mat-label>
            <input #password matInput required formControlName="password" type="password">
            <mat-error *ngIf="changePasswordForm.controls['password'].hasError('required')">
              Podaj nowe hasło
            </mat-error>
          </mat-form-field>
        </div>
        <div class="passwordStrengthInfo">
          <h4>
            Twoje nowe hasło musi:
          </h4>
          <mat-password-strength #passwordComponent
                                 hidden
                                 [enableSpecialCharRule]="false"
                                 min="8"
                                 max="128"
                                 [password]="password.value">
          </mat-password-strength>
          <mat-password-strength-info
            [passwordComponent]="passwordComponent"
            lowerCaseCriteriaMsg="zawierać min. 1 małą literę"
            upperCaseCriteriaMsg="zawierać min. 1 wielką literę"
            digitsCriteriaMsg="zawierać min. 1 cyfrę"
            minCharsCriteriaMsg="mieć minimum 8 znaków">
          </mat-password-strength-info>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Powtórz hasło</mat-label>
            <input matInput required formControlName="repeatPassword" type="password"
                   [errorStateMatcher]="errorMatcher">
            <mat-error *ngIf="changePasswordForm.hasError('passwordMismatch')">
              Podane hasła muszą być takie same
            </mat-error>
          </mat-form-field>
        </div>
        <div class="actionButtons">
          <button type="submit" mat-raised-button color="primary" [disabled]="!changePasswordForm.valid">
            Zresetuj hasło
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
