.postCardsContainer {
  padding: 2em;
}

.noPosts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  mat-icon {
    font-size: 50px;
    line-height: 50px;
  }
}

.mat-toolbar {
  .mat-icon-button {
    margin-left: 0.5em;
  }
}

.mobileToolbar {
  .mat-icon-button {
    margin-left: 0;
  }
}

[hidden] {
  display: none !important;
}

.mat-fab {
  position: absolute;
  bottom: 5%;
  right: 5%;
}
