<app-loading-spinner [show]="boardLoading"></app-loading-spinner>
<mat-toolbar ngClass.xs="mobileToolbar">
  <div class="toolbarTitle">{{currentBoard?.boardName}}</div>
  <div class="boardIcons">
    <mat-icon *ngIf="currentBoard?.isAdmin" matTooltip="Jesteś administratorem">admin_panel_settings</mat-icon>
    <mat-icon *ngIf="currentBoard?.isPrivate" matTooltip="Prywatna">lock</mat-icon>
    <mat-icon *ngIf="!currentBoard?.isPrivate" matTooltip="Publiczna">public</mat-icon>
  </div>
  <span class="fill-remaining-space"></span>

  <button mat-icon-button (click)="reloadData()">
    <mat-icon>refresh</mat-icon>
  </button>

  <div *ngIf="(isHandset$ | async) === false" class="toolbarFormFields mat-body">
    <mat-form-field appearance="outline">
      <mat-label>Sortowanie</mat-label>
      <mat-select [(value)]="this.sortState" (selectionChange)="sortPosts()" [compareWith]="customSortCompare">
        <mat-option [value]="{active: '', direction: ''}">Domyślne</mat-option>
        <mat-optgroup label="Data publikacji">
          <mat-option [value]="{active: 'postDate', direction: 'desc'}">
            Data publikacji - od najnowszego
          </mat-option>
          <mat-option [value]="{active: 'postDate', direction: 'asc'}">
            Data publikacji - od najstarszego
          </mat-option>
        </mat-optgroup>
        <mat-optgroup label="Aktywność">
          <mat-option [value]="{active: 'lastActivity', direction: 'desc'}">
            Aktywność - najnowsza
          </mat-option>
          <mat-option [value]="{active: 'lastActivity', direction: 'asc'}">
            Aktywność - najstarsza
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
  </div>

  <button [hidden]="(isHandset$ | async) === false" mat-icon-button [matMenuTriggerFor]="sortMenu">
    <mat-icon matBadge [appMatBadgeIcon]="sortBadge">sort</mat-icon>
  </button>
  <mat-menu #sortMenu="matMenu">
    <button mat-menu-item (click)="menuSortPosts({active: '', direction: ''})">Domyślne</button>
    <button mat-menu-item (click)="menuSortPosts({active: 'postDate', direction: 'desc'})">
      Data publikacji - od najnowszego
    </button>
    <button mat-menu-item (click)="menuSortPosts({active: 'postDate', direction: 'asc'})">
      Data publikacji - od najstarszego
    </button>
    <button mat-menu-item (click)="menuSortPosts({active: 'lastActivity', direction: 'desc'})">
      Aktywność - najnowsza
    </button>
    <button mat-menu-item (click)="menuSortPosts({active: 'lastActivity', direction: 'asc'})">
      Aktywność - najstarsza
    </button>
  </mat-menu>

  <button mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>

  <button mat-icon-button [matMenuTriggerFor]="settingsMenu">
    <mat-icon matBadge="{{currentBoard?.notificationsCount}}"
              [matBadgeHidden]="currentBoard?.notificationsCount === 0"
              matBadgeColor="warn">
      settings
    </mat-icon>
  </button>
  <mat-menu #settingsMenu="matMenu">
    <button mat-menu-item (click)="shareBoard()">
      <mat-icon>share</mat-icon>
      Udostępnij tablicę
    </button>
    <button mat-menu-item (click)="openBoardInfo()">
      <mat-icon>info</mat-icon>
      Informacje o tablicy
    </button>
    <button mat-menu-item (click)="openBoardMembers()">
      <mat-icon>groups</mat-icon>
      Członkowie tablicy
    </button>
    <button mat-menu-item *ngIf="currentBoard?.isAdmin" (click)="openBoardJoinRequests()">
      <mat-icon matBadge="{{currentBoard?.notificationsCount}}"
                [matBadgeHidden]="currentBoard?.notificationsCount === 0"
                matBadgeColor="warn" matBadgeSize="small">
        person_add
      </mat-icon>
      Prośby o dołączenie
    </button>
    <button mat-menu-item *ngIf="currentBoard?.isAdmin" routerLink="./settings">
      <mat-icon>settings</mat-icon>
      Ustawienia tablicy
    </button>
    <button mat-menu-item (click)="leaveBoard()">
      <mat-icon>person_remove</mat-icon>
      Opuść tablicę
    </button>
  </mat-menu>
</mat-toolbar>

<div *ngIf="pinnedPostsLoading || allPostsLoading" class="postCardsContainer" ngClass.xs="small-mobilePadding">
  <div class="centerInfo">
    <mat-progress-bar mode="indeterminate" style="width: 50vw"></mat-progress-bar>
  </div>
</div>

<mat-toolbar *ngIf="pinnedBoardPosts.length !== 0">
  Przypięte ogłoszenia
</mat-toolbar>

<div *ngIf="pinnedBoardPosts.length !== 0 && !pinnedPostsLoading" class="postCardsContainer" ngClass.xs="small-mobilePadding">
  <div fxLayout="row wrap" fxLayoutGap="1em grid">
    <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50%" fxFlex.lg="33%" fxFlex.xl="25%"
         *ngFor="let post of pinnedBoardPosts">
      <app-post-card [post]="post" [currentUserId]="getCurrentUserId()" [isCurrentUserBoardAdmin]="currentBoard?.isAdmin"
                     (pinPostEvent)="pinPost($event)" (unpinPostEvent)="unpinPost($event)"
                     (likePostEvent)="likePost($event)" (unlikePostEvent)="unlikePost($event)"></app-post-card>
    </div>
  </div>
</div>

<mat-toolbar *ngIf="pinnedBoardPosts.length !== 0">
  Wszystkie ogłoszenia
</mat-toolbar>

<div *ngIf="allBoardPosts.length !== 0 && !allPostsLoading" class="postCardsContainer" ngClass.xs="small-mobilePadding">
  <div fxLayout="row wrap" fxLayoutGap="1em grid">
    <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50%" fxFlex.lg="33%" fxFlex.xl="25%"
         *ngFor="let post of allBoardPosts">
      <app-post-card [post]="post" [currentUserId]="getCurrentUserId()" [isCurrentUserBoardAdmin]="currentBoard?.isAdmin"
                     (pinPostEvent)="pinPost($event)" (unpinPostEvent)="unpinPost($event)"
                     (likePostEvent)="likePost($event)" (unlikePostEvent)="unlikePost($event)"></app-post-card>
    </div>
  </div>
</div>

<div *ngIf="allBoardPosts.length === 0 && !allPostsLoading" class="postCardsContainer" ngClass.xs="small-mobilePadding">
  <div class="centerInfo">
    <mat-icon [inline]="true">dashboard</mat-icon>
    Jeszcze nie ma żadnych ogłoszeń na tej tablicy
  </div>
</div>

<div class="bottomSpacer"></div>

<button mat-fab color="primary" routerLink="./createPost">
  <mat-icon>add</mat-icon>
</button>
