.cardsContainer {
  padding: 2em;
}

.mat-toolbar {
  .mat-icon-button {
    margin-left: 0.5em;
  }
}

.mobileToolbar {
  .mat-icon-button {
    margin-left: 0;
  }
}

[hidden] {
  display: none !important;
}
