<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               *ngIf="userAuth"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      Twoje tablice
    </mat-toolbar>
    <mat-nav-list>
      <a *ngFor="let boardLink of userAuth?.boardLinks" mat-list-item routerLink="/board/{{boardLink.boardId}}">{{boardLink.name}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="userAuth && isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>VBoard</span>
      <span class="fill-remaining-space"></span>
      <div class="toolbarButtons">
        <button
          mat-flat-button
          routerLink="/login"
          *ngIf="!userAuth">
          Zaloguj się
        </button>
        <button
          mat-flat-button
          routerLink="/signup"
          *ngIf="!userAuth">
          Zarejestruj się
        </button>
        <button
          mat-button
          [matMenuTriggerFor]="userMenu"
          *ngIf="userAuth && !(isHandset$ | async)">
          {{userAuth.name}}
          <mat-icon>expand_more</mat-icon>
        </button>
        <button
          mat-button
          [matMenuTriggerFor]="userMenu"
          *ngIf="userAuth && isHandset$ | async">
          <mat-icon>person</mat-icon>
          <mat-icon>expand_more</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu" xPosition="before">
          <button
            mat-flat-button
            (click)="logout()">
            Wyloguj się
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
