@import '~@angular/material/theming';

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 15em;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
}

.active-list-item {
  background: rgba(0,0,0,0.13) !important;
}

a.mat-list-item.active {
  background: rgba(0,0,0,0.13) !important;
}

.linkElement {
  cursor: pointer;
  outline: none;
}

.profilePic {
  border-radius: 4px;
  width: 32px;
  height: 32px;
}

.userName {
  padding-right: 6px;
}

.expandIcon {
  padding-left: 4px;
}
