<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="((isHandset$ | async) || (tabletWidthBreakpoint$ | async)) ? 'over' : 'side'"
               [opened]="userAuth && ((isHandset$ | async) === false) && ((tabletWidthBreakpoint$ | async) === false)">
    <mat-toolbar matRipple routerLink="/myBoards" routerLinkActive="active-list-item" class="linkElement"
                 (click)="closeSidenav()">Moje tablice
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngIf="!userAuth?.boardLinks">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </a>
      <a mat-list-item *ngFor="let boardLink of userAuth?.boardLinks" routerLink="/board/{{boardLink.boardId}}"
         routerLinkActive="active-list-item" (click)="closeSidenav()">
        <div matLine>{{boardLink.boardName}}</div>
        <div *ngIf="boardLink.notificationsNumber != 0" matBadge="{{boardLink.notificationsNumber}}" matBadgeColor="warn" style="padding-left: 1.5em"></div>
      </a>
      <a mat-list-item routerLink="/createBoard" routerLinkActive="active-list-item" (click)="closeSidenav()">
        <mat-icon matListIcon>add</mat-icon>
        <div matLine>Utwórz tablicę</div>
      </a>
      <a mat-list-item (click)="closeSidenav(); openSearch();">
        <mat-icon matListIcon>search</mat-icon>
        <div matLine>Wyszukaj tablicę</div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="userAuth">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span matRipple routerLink="/landingPage" class="linkElement toolbarTitle">VBoard</span>
      <span class="fill-remaining-space"></span>
      <div class="toolbarButtons">
        <button
          mat-flat-button
          routerLink="/login"
          *ngIf="!userAuth">
          Zaloguj się
        </button>
        <button
          mat-flat-button
          routerLink="/signup"
          *ngIf="!userAuth && ((isHandset$ | async) === false)">
          Zarejestruj się
        </button>
        <button
          mat-button
          [matMenuTriggerFor]="userMenu"
          *ngIf="userAuth">
          <span *ngIf="(isHandset$ | async) === false" class="userName">
            {{userAuth.name}}
          </span>
          <img *ngIf="profilePictureLoading" src="assets/spinner.gif" class="profilePic">
          <img [hidden]="profilePictureLoading" [src]="userAuth.profilePicUrl | secure | async" (load)="profilePictureLoading = false" class="profilePic">
          <mat-icon class="expandIcon">expand_more</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu" xPosition="before">
          <button mat-menu-item routerLink="/userSettings">
            <mat-icon>manage_accounts</mat-icon>
            Ustawienia konta
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            Wyloguj się
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
