mat-card {
  outline: none;

  .mat-card-title {
    font-size: inherit;
  }

  .mat-card-content {
    padding-top: 0.5em;
  }

  .mat-card-actions {
    button {
      margin-left: 8px;
    }
  }

  .commentsSection {
    padding-top: 1em;
  }
}
