<div fxLayout="row" fxLayoutAlign="space-between center">
  <h1>Prośby o dołączenie</h1>
  <div fxLayout="row">
    <button mat-icon-button mat-dialog-title (click)="loadData()">
      <mat-icon>refresh</mat-icon>
    </button>
    <button mat-icon-button mat-dialog-title [mat-dialog-close]>
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<div mat-dialog-content>
  <div
    *ngIf="!loading && ((requestDateBreakpoint$ | async) || (actionsBreakpoint$ | async))"
    fxLayout="row" fxLayoutAlign="start center">
    <mat-form-field appearance="outline" fxFlex>
      <mat-label>Sortowanie</mat-label>
      <mat-select [(value)]="this.sortState" (selectionChange)="changeSortedColumn()"
                  [compareWith]="customSortCompare">
        <mat-option [value]="{active: '', direction: ''}">Domyślne</mat-option>
        <mat-optgroup label="Użytkownik">
          <mat-option [value]="{active: 'name', direction: 'asc'}">
            Użytkownik - rosnąco (A-Z)
          </mat-option>
          <mat-option [value]="{active: 'name', direction: 'desc'}">
            Użytkownik - malejąco (Z-A)
          </mat-option>
        </mat-optgroup>
        <mat-optgroup label="Data dołączenia">
          <mat-option [value]="{active: 'requestDate', direction: 'asc'}">
            Data prośby - rosnąco
          </mat-option>
          <mat-option [value]="{active: 'requestDate', direction: 'desc'}">
            Data prośby - malejąco
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="tableContainer" [class.oneColumnTable]="actionsBreakpoint$ | async">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <div *ngIf="joinRequests?.length === 0 && !loading" class="notFound">
      <mat-icon [inline]="true">check</mat-icon>
      Brak nowych próśb o dołączenie
    </div>
    <table *ngIf="joinRequests ? (joinRequests.length !== 0 && !loading) : false" mat-table [dataSource]="dataSource"
           matSort (matSortChange)="this.sortState = $event" multiTemplateDataRows>

      <!-- User Column -->
      <ng-container matColumnDef="name" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Użytkownik</th>
        <td mat-cell *matCellDef="let element">
          <div class="userPictureFlex">
            <img *ngIf="element.profilePictureLoading != false"
                 src="assets/spinner.gif" class="profilePic">
            <img [hidden]="element.profilePictureLoading != false" [src]="element.profilePicUrl | secure | async"
                 (load)="element.profilePictureLoading = false" class="profilePic">
            <div class="userName">{{element.name}}</div>
          </div>
        </td>
      </ng-container>

      <!-- Expand Icon Column -->
      <ng-container matColumnDef="expandIcon">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon *ngIf="element !== expandedElement">expand_more</mat-icon>
          <mat-icon *ngIf="element === expandedElement">expand_less</mat-icon>
        </td>
      </ng-container>

      <!-- Join Date Column -->
      <ng-container matColumnDef="requestDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Data prośby</th>
        <td mat-cell *matCellDef="let element"> {{element.requestDate | date}} </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()" fxLayout="row" fxLayoutAlign="end center">
          <button *ngIf="!element.isDoingAction" color="primary" mat-stroked-button (click)="acceptRequest(element)">
            Akceptuj
            <mat-icon>check</mat-icon>
          </button>
          <button *ngIf="!element.isDoingAction" color="warn" mat-stroked-button style="margin-left: 0.5em" (click)="denyRequest(element)">
            Odrzuć
            <mat-icon>clear</mat-icon>
          </button>

          <mat-spinner mode="indeterminate" diameter="20" *ngIf="element.isDoingAction"></mat-spinner>
        </td>
      </ng-container>

      <!-- Expanded Content Column -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="element-detail-content">
              <table mat-table [dataSource]="detailsDataSource">

                <!-- Detail Name Column -->
                <ng-container matColumnDef="detailName">
                  <td mat-cell *matCellDef="let detailElement"> {{detailElement.detailName}} </td>
                </ng-container>

                <!-- Detail Data Column -->
                <ng-container matColumnDef="detailData">
                  <td mat-cell *matCellDef="let detailElement"> {{detailElement.detailData || '—'}} </td>
                </ng-container>

                <tr mat-row *matRowDef="let row; columns: ['detailName', 'detailData'];"></tr>
              </table>

              <div class="element-detail-actions" *ngIf="actionsBreakpoint$ | async">
                <button *ngIf="!element.isDoingAction" color="primary" mat-stroked-button (click)="acceptRequest(element)">
                  Akceptuj
                  <mat-icon>check</mat-icon>
                </button>
                <button *ngIf="!element.isDoingAction" color="warn" mat-stroked-button (click)="denyRequest(element)">
                  Odrzuć
                  <mat-icon>clear</mat-icon>
                </button>

                <mat-spinner mode="indeterminate" diameter="20" *ngIf="element.isDoingAction"></mat-spinner>
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <!-- Row Definitions -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"
          class="element-row"
          [class.clickable]="this.detailsArraySubject.getValue().length !== 0"
          [class.expanded-row]="expandedElement === element"
          (click)="expandRow(element)">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>

    </table>
  </div>
</div>
