.uploadPhotoButton {
  margin-top: 1em;
  margin-bottom: 1em;
}

.deletePhotoButton {
  margin-bottom: 1em;
}

.settingsProfilePic {
  margin-top: 1em;
  border-radius: 4px;
}

image-cropper {
  max-height: 400px;
}

.hidden {
  display: none;
}
