/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fill-remaining-space {
  flex: 1 1 auto;
}

.default-content-padding {
  padding: 20px;
}

.formCardContainer {
  margin: 2em;
  display: flex;
  justify-content: center;
  mat-card {
    min-width: 25%;
  }
  mat-card-content {
    margin-top: 1em;
  }
  mat-form-field {
    width: 100%;
  }
}

.formActionButtons {
  display: flex;
  justify-content: right;
  margin-top: 1em;
}

.snackbar-success {
  background-color: #9ccc65;
}

.snackbar-error {
  background-color: #bf5555;
}
