/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.default-content-padding {
  padding: 20px;
}

.no-mobilePadding {
  padding: 0 !important;
}

.small-mobilePadding {
  padding: 1em !important;
}

.formCardContainer {
  padding: 2em;
  display: flex;
  justify-content: center;

  mat-card-content {
    margin-top: 1em;
  }

  mat-form-field {
    width: 100%;
  }
}

.formActionButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
}

.toolbarButtons button {
  margin-left: 1em;
}

.toolbarFormFields {
  mat-form-field .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-form-field-infix {
    padding: 0.75em 0 0.75em 0;
  }
}

.buttonTextIcon{
  padding-left: 8px;
}

//snackbars themes
.snackbar-success {
  background-color: #9ccc65;
  color: black;
}

.snackbar-error {
  background-color: #bf5555;
  color: white;
}

