.resetPasswordCardContainer {
  margin: 2em;
  display: flex;
  justify-content: center;
}

.actionButtons {
  display: flex;
  justify-content: right;
  margin-top: 1em;
}

mat-card-content {
  margin-top: 1em;
}

mat-card {
  min-width: 20%;
}

mat-form-field {
  min-width: 100%;
}
