<div class="resetPasswordCardContainer">
  <app-loading-spinner [show]="loading"></app-loading-spinner>
  <mat-card>
    <mat-card-title>Zapomniałem hasła</mat-card-title>
    <mat-card-content>
      <div>
      Podaj adres e-mail, na które założone było twoje konto.
      </div>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" style="margin-top: 0.5em">
        <div>
          <mat-form-field>
            <mat-label>Adres e-mail</mat-label>
            <input matInput required formControlName="email" type="email">
            <mat-error *ngIf="resetPasswordForm.controls['email'].hasError('required')">
              Podaj adres e-mail
            </mat-error>
            <mat-error *ngIf="resetPasswordForm.controls['email'].hasError('email')">
              Podaj prawidłowy adres e-mail
            </mat-error>
          </mat-form-field>
          <div class="actionButtons">
            <button type="submit" mat-raised-button color="primary" [disabled]="!resetPasswordForm.valid">
              Zresetuj hasło
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
